<mat-card>
  
  <div class="image-container">
    <div *ngIf="isUserLoggedIn">
      <mat-chip-list *ngIf="canEdit">
        <mat-chip (mouseover)="hideText=true" (mouseout)="hideText=false" class="delete" color="accent" >
          <span *ngIf="hideText">Sterge</span>
          <button  mat-icon-button (click)="delete()" aria-hidden="false">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
    <img mat-card-image src="{{product.image}}"/>
  </div>
  <mat-card-content>
    <mat-card-title><h4>{{product.name}}</h4></mat-card-title>
    <p> <span>Soiul:</span>{{product.species }}</p>
    <p><span>Disponibil:</span>{{product.available}} {{product.measureUnit}}</p>
  </mat-card-content>
</mat-card>