<form (ngSubmit)="addProduct()">
  <mat-form-field>
    <input matInput type="text" name="name" [(ngModel)]="product.name" placeholder="Denumire"> 
  </mat-form-field>
  <mat-form-field>
    <input matNativeControl type="text" name="description" [(ngModel)]="product.image" placeholder="poza"> 
  </mat-form-field>
  <mat-form-field>
    <input matNativeControl type="number" name="price" [(ngModel)]="product.price" step="1"
    placeholder="pret"> 
  </mat-form-field>
  <button type="submit">
    Save
  </button>
</form>