
    <mat-toolbar><h3> Producatori </h3></mat-toolbar>    
    <div *ngIf="stores.length > 0" class="row">
        <div class="card-container col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let store of stores; let i = index " [attr.data-index]="i" >
            
              <mat-card class="card"  [attr.data-index]="store.id" (mouseleave)="closePanel()"(mouseenter)="openPanel(i)">
                
                <a matRipple [routerLink]="['/shop', store.id]">
                  <div class="image-container">
                    <img mat-card-image src="{{store.image}}"  />
                  </div>
                  <mat-card-title >
                    
                    <h4 class="text-center"> {{(store.name)}}</h4>
                  </mat-card-title>     
                </a>
                  <mat-card-subtitle>
                    <mat-accordion>
                      <mat-expansion-panel [expanded]="i == indexExpanded">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Detalii
                          </mat-panel-title>
                          <mat-panel-description>
                            
                          </mat-panel-description>
                        
                        </mat-expansion-panel-header>
                        <a matRipple [routerLink]="['/shop', store.id]">
                        <p>{{store.details}}</p>
                        </a>
                      </mat-expansion-panel>
                      
                      <mat-expansion-panel class="map-inside">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Locatie
                          </mat-panel-title>
                          <mat-panel-description>
                            {{store.address}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <agm-map 
                          [latitude]=store.location.latitude 
                          [longitude]=store.location.longitude
                          [mapTypeControl]="true"
                          [controlSize]="23"
                          [zoom]="11">
                            <agm-marker 
                            [latitude]=store.location.latitude 
                            [longitude]=store.location.longitude>
                            <agm-info-window>
                              <strong>Fa-ne o vizita!</strong>
                            </agm-info-window>
                            </agm-marker>
                          </agm-map>  
                        </ng-template>
                        
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-card-subtitle>
                  
                  
                  
                
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill"><i class="material-icons color-primary">emoji_emotions</i></span><i class="color-secondary material-icons">mood</i>
                  </span>
                </ng-template>
                <mat-card-actions>
                  <ngb-rating matTooltip="{{store.rating}}" [(rate)]="store.rating" aria-label="store.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                </mat-card-actions>
              </mat-card>
            
        </div>
      
      </div>