.card {
  border-radius: 10px;
  overflow:hidden;
  padding:0px;
}

.card:hover {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.6), 
                0 2px 2px 0 rgba(0,0,0,0.6), 
                0 2px 4px 0 rgba(0,0,0,0.6);
}
.card-container{
  margin:20px 0px;
}


.card-container a:hover{
  text-decoration:none;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #707070;
}
.full {
  color: rgb(241, 200, 86);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(255, 252, 73);

}

ngb-rating{
  margin-left:15px;
}

.sr-only {
  display:hidden !important;
}
ul{
  padding:0px;
}