.cover img{
  width:100%;
}
.cover {
  height: 300px;
  overflow:hidden;
}
.title{
  position:relative;
  top:-64px;
  z-index:99;
  opacity: 0.8;
}

.mat-card{
  margin-bottom:20px;
}

.certified-image{
  max-height:300px;
  overflow:hidden;
  z-index:99;
}

.certified{
  width:70px;
  position:absolute;
  bottom:-20px;
  right:-5px;
}
