.cover img{
  width:100%;
}
.cover {
  height: 300px;
  overflow:hidden;
}
.title{
  position:relative;
  top:-64px;
  z-index:99;
  opacity: 0.8;
}

.mat-card{
  margin-bottom:16px;
}