
    <div class="cover">
      <img src="{{(store | async)?.cover}}" />
      
    </div>
    <div class="title">
        <mat-toolbar>
          <h3>{{ (store | async)?.name }}</h3>
        </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <mat-card>
          
          {{ (store | async)?.details }}
        </mat-card>
      </div>
      <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
        <app-product-list [store]="store" [canEdit]="canEdit()"></app-product-list>
        
      </div>
    </div>