<div *ngIf="store">
    <div class="cover">
      <img src="{{store.cover}}" />
    </div>
    <div class="title">
        <mat-toolbar>
          <h3>{{store.name}}</h3>
        </mat-toolbar>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <mat-card>
          {{ store.details }}
        </mat-card>
        <mat-card *ngIf="store.certification">
          <mat-card-title> Certificare Ecologica </mat-card-title>
          <img mat-card-image src="https://www.greenqueen.ro/media//wysiwyg/certificate/certificari-badge.png" />
        </mat-card>
        <mat-card>
          <mat-card-title>Contact</mat-card-title>
          <mat-card-content>
            <p>Telefon - {{store.phone}}</p>
            <p>Adresa - {{store.address}}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="id" class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
        <app-product-list [store]="id"></app-product-list>
        
      </div>
    </div>
</div>